.user {
  display: grid;
  padding-top: 70px;

  grid-auto-rows: 35px;
  row-gap: 15px;
}
.page404 {
  padding-top: 100px;
  text-align: center;

@extend %mx-auto;
  &__title {
    margin-bottom: 35px;
  }
}
